In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from scipy.io import loadmat

In [3]:
data = pd.read_csv("train.csv", header=None) # 908,766 x 2 약 90만개

In [7]:
data.head() # 0:image, 1:결과

             0                                 1
0    file_name                            SMILES
1  train_0.png  CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C
2  train_1.png     CC(=O)OC(CC(=O)O)C[N+](C)(C)C
3  train_2.png              O=C(O)C1=CC=CC(O)C1O
4  train_3.png                           CC(O)CN

In [14]:
len(data[1].unique()) == len(data)

True

In [4]:
data.describe()

                       0                               1
count             908766                          908766
unique            908766                          908766
top     train_541535.png  COC(=O)/C=C/c1cc(Br)sc1NC(C)=O
freq                   1                               1

In [15]:
data2 = pd.read_csv("sample_submission.csv", header=None) # 20,001 x 2

In [16]:
data2.shape

(20001, 2)

In [7]:
data2.describe()

                    0       1
count           20001       1
unique          20001       1
top     test_5076.png  SMILES
freq                1       1